[submodule ".registry"]
	path = .registry
	url = https://github.com/uribo/universe
	shallow = true
	branch = HEAD
[submodule "jpops"]
	path = jpops
	url = https://github.com/uribo/jpops
	shallow = true
	registered = true
[submodule "kuniezu"]
	path = kuniezu
	url = https://github.com/uribo/kuniezu
	shallow = true
	registered = true
[submodule "washoku"]
	path = washoku
	url = https://github.com/uribo/washoku
	shallow = true
	registered = true
[submodule "textlintr"]
	path = textlintr
	url = https://github.com/uribo/textlintr
	shallow = true
	registered = true
